In [8]:
#Primitive data structure live class
upah_per_jam= 30000
nama_k1="joko"
nama_k2="Alex"
nama_k3="Chandra"
nama_k4="Hartono"
nama_k5="Samsul"

In [9]:
jam_k1=44
jam_k2=48
jam_k3=50
jam_k4=42
jam_k5=45

In [10]:
upah_kotor1=jam_k1*upah_per_jam
upah_kotor2=jam_k2*upah_per_jam
upah_kotor3=jam_k3*upah_per_jam
upah_kotor4=jam_k4*upah_per_jam
upah_kotor5=jam_k5*upah_per_jam

In [11]:
print(f"Upah Kerja (kotor) {nama_k1} = RP {upah_kotor1}")
print(f"Upah Kerja (kotor) {nama_k2} = RP {upah_kotor2}")
print(f"Upah Kerja (kotor) {nama_k3} = RP {upah_kotor3}")
print(f"Upah Kerja (kotor) {nama_k4} = RP {upah_kotor4}")
print(f"Upah Kerja (kotor) {nama_k5} = RP {upah_kotor5}")

Upah Kerja (kotor) joko = RP 1320000
Upah Kerja (kotor) Alex = RP 1440000
Upah Kerja (kotor) Chandra = RP 1500000
Upah Kerja (kotor) Hartono = RP 1260000
Upah Kerja (kotor) Samsul = RP 1350000

In [12]:
#Upah Lembur dari Seluruh Karyawan Perusahaan B

In [15]:
upah_lembur=35000
jam_lembur1=12
jam_lembur2=11
jam_lembur3=10
jam_lembur4=15
jam_lembur5=12
lembur1= jam_lembur1*upah_lembur
lembur2= jam_lembur2*upah_lembur
lembur3= jam_lembur3*upah_lembur
lembur4= jam_lembur4*upah_lembur
lembur5= jam_lembur5*upah_lembur
print(f"Upah Lembur {nama_k1} = RP {lembur1}")
print(f"Upah Lembur {nama_k2} = RP {lembur2}")
print(f"Upah Lembur {nama_k3} = RP {lembur3}")
print(f"Upah Lembur {nama_k4} = RP {lembur4}")
print(f"Upah Lembur {nama_k5} = RP {lembur5}")

Upah Lembur joko = RP 420000
Upah Lembur Alex = RP 385000
Upah Lembur Chandra = RP 350000
Upah Lembur Hartono = RP 525000
Upah Lembur Samsul = RP 420000

In [16]:
#Total Upah dari seluruh karyawan Perusahaan B

In [17]:
tot_upah1=upah_kotor1+lembur1
tot_upah2=upah_kotor2+lembur2
tot_upah3=upah_kotor3+lembur3
tot_upah4=upah_kotor4+lembur4
tot_upah5=upah_kotor5+lembur5
print(f"Total Upah {nama_k1} = RP {tot_upah1}")
print(f"Total Upah {nama_k2} = RP {tot_upah2}")
print(f"Total Upah {nama_k3} = RP {tot_upah3}")
print(f"Total Upah {nama_k4} = RP {tot_upah4}")
print(f"Total Upah {nama_k5} = RP {tot_upah5}")

Total Upah joko = RP 1740000
Total Upah Alex = RP 1825000
Total Upah Chandra = RP 1850000
Total Upah Hartono = RP 1785000
Total Upah Samsul = RP 1770000

In [19]:
#Pajak penghasilan karyawan perusahaan B

In [23]:
pajak = 0.05
tot_pajak1= tot_upah1*pajak
tot_pajak2= tot_upah2*pajak
tot_pajak3= tot_upah3*pajak
tot_pajak4= tot_upah4*pajak
tot_pajak5= tot_upah5*pajak
print(f"Total Pajak {nama_k1} = RP {tot_pajak1}")
print(f"Total Pajak {nama_k2} = RP {tot_pajak2}")
print(f"Total Pajak {nama_k3} = RP {tot_pajak3}")
print(f"Total Pajak {nama_k4} = RP {tot_pajak4}")
print(f"Total Pajak {nama_k5} = RP {tot_pajak5}")

Total Pajak joko = RP 87000.0
Total Pajak Alex = RP 91250.0
Total Pajak Chandra = RP 92500.0
Total Pajak Hartono = RP 89250.0
Total Pajak Samsul = RP 88500.0

In [24]:
#Total Upah Nett Karyawan Perusahaan B

In [26]:
nett1= tot_upah1-tot_pajak1
nett2= tot_upah2-tot_pajak2
nett3= tot_upah3-tot_pajak3
nett4= tot_upah4-tot_pajak4
nett5= tot_upah5-tot_pajak5
print(f"Total Upah (Netto) {nama_k1} = RP {nett1}")
print(f"Total Upah (Netto) {nama_k2} = RP {nett2}")
print(f"Total Upah (Netto) {nama_k3} = RP {nett3}")
print(f"Total Upah (Netto) {nama_k4} = RP {nett4}")
print(f"Total Upah (Netto) {nama_k5} = RP {nett5}")

Total Upah (Netto) joko = RP 1653000.0
Total Upah (Netto) Alex = RP 1733750.0
Total Upah (Netto) Chandra = RP 1757500.0
Total Upah (Netto) Hartono = RP 1695750.0
Total Upah (Netto) Samsul = RP 1681500.0

In [27]:
#Jumlah Total Upah Karyawan Perusahaan B

In [28]:
total = nett1+nett2+nett3+nett4+nett5
print (f"Jumlah total upah karyawan perusahaan B adalah = RP {total}")

Jumlah total upah karyawan perusahaan B adalah = RP 8521500.0

In [29]:
#Jumlah Rata-rata Upah Karyawan Perusahaan B

In [30]:
karyawan = 5
rata_upah = total/karyawan
print(f"Rata-rata upah karyawan Perusahaan B adalah = RP {rata_upah}")

Rata-rata upah karyawan Perusahaan B adalah = RP 1704300.0